absl-py
arviz
astunparse
boto
boto3
botocore
cachetools
certifi
cftime
chardet
click
cycler
Cython
decorator
dill
docutils
efficientnet
fastprogress
filelock
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
imgaug
importlib-metadata
jmespath
joblib
Keras-Applications
Keras-Preprocessing
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
netCDF4
networkx
nlg-eval @ git+https://github.com/Maluuba/nlg-eval.git@7f7993035a2f4729a15d20040fd904933ea58767
nltk
numpy
oauthlib
opencv-python
opencv-python-headless
opt-einsum
packaging
pandas
patsy
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pymc3
pyparsing
python-dateutil
python-docx
pytz
PyWavelets
regex
requests
requests-oauthlib
rsa
s3transfer
sacremoses
scikit-image
scikit-learn
scipy
sentencepiece
Shapely
six
smart-open
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
Theano
Theano-PyMC
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
Werkzeug
wrapt
xarray
xdg
zipp